* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #e5e5e5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root,
.app {
  height: 100%;
}

.app__container {
  margin: 0 auto;
  width: 80vw;
}

main {
  padding-bottom: 155px;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('./assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf')
    format('truetype');
}
